:root {
    --light-green: hsl(148, 38%, 91%);
    --green: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --light-grey: hsl(186, 15%, 59%);
    --dark-grey: hsl(187, 24%, 22%);
}

@font-face {
    font-family: 'MyFonts';
    src:url(./assets/fonts/Karla-VariableFont_wght.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'MyFonts-bold';
    src:url(./assets/fonts/Karla-VariableFont_wght.ttf);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MyFonts', sans-serif;
}

body {
    background-color: var(--light-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 16px;
}

#myForm {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    position: relative;
    overflow: scroll;
}

h1 {
    margin-bottom: 2rem;
}

.names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.firstName, .lastName {
    width: 100%;
}

.names > div,
.email-group {
    display: flex;
    flex-direction: column;
}

.email-group {
    margin: 1rem 0;
} 

label {
    display: block;
}

label span {
    display: inline;
    margin-left: 4px;
    color: var(--green);
}

input, .query-1, .query-2 {
    border: 1px solid var(--light-grey);
    padding: 0.4rem 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
}

.query-1, .query-2 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.query-1:focus-within, .query-2:focus-within {
    background-color: var(--light-green);
}

.query-type:hover {
    cursor: pointer;
}

.firstname-error, .lastname-error, .email-error, .query-error, .message-error, .consent-error {
    color: var(--red);
    display: none;
    animation: slide 1s ease;
}

@keyframes slide {
    from {
        transform: translate(50px, 0px);
    }

    to {
        transform: translate(0px, 0px);
    }
}

input[type='radio'], input[type='checkbox'] {
    accent-color: var(--green);
}

input:hover {
    border: 2px solid var(--green);
    cursor: pointer;
}

input:focus {
    border: 2px solid var(--green);
    cursor: pointer;
    outline: none;
}

.message {
    margin-top: 2rem;
}

#messages {
    border: 1px solid var(--light-grey);
    resize: none;
    height: 17rem;
    width: 100%;
    padding: 1rem;
}

.consent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin: 1rem 0;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

button {
    border: 2px solid var(--green);
    background-color: var(--green);
    border-radius: 5px;
    color: white;
    margin: 0.5rem 0;
    padding: 1rem;
    width: 100%;
}

button:hover {
    border: 2px solid var(--dark-grey);
    background-color: var(--dark-grey);
    cursor: pointer;
}

.success-hidden {
    display: none;
    background-color: var(--dark-grey);
    padding: 1rem;
    color: white;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0px;
}

.success-hidden.show {
    display: block;
    animation: drop-fade 1.5s ease-in-out forwards;
}

.success-hidden.hide {
    animation: fade-out 1.5s ease-in-out forwards;
}

@keyframes drop-fade {
    from{
        opacity: 0;
        top: 0px;
        left: 0px;
    }

    to {
        top: 50px;
        left: 0px;
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.sent  {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin: 0.5rem 0;
}

.sent-message {
    font-size: 1.2rem;
}

@media screen and (min-width: 960px) {
    .names {
        flex-direction: row;
    }

    .query-type {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    #message {
        width: 17rem;
        height: 4rem;
    }
}